streamlit
streamlit as st
pandas as pd
numpy as np
matplotlib.pyplot as plt
seaborn as sns
statsbombpy import sb
streamlit_option_menu import option_menu
streamlit_drawable_canvas import st_canvas
mplsoccer import Pitch
PIL import Image
io import BytesIO
random
